# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
.venv/
.python-version
*.ipynb

# Node
node_modules/
dist/
.nuxt/
.cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Environment variables
.env
.env.local